:root {
  scroll-behavior: smooth;
}
body {
  font-family: 'Open Sans',sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body * {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
h1 {
  margin-top: 60px 0 6px 0;
  padding-top: 0;
  line-height: 1.3;
}
h2 {
  margin: 1.6em 0 0.6em 0;
  padding: 0;
}
p {
  font-size: 18px;
  line-height: 1.4;
}
.grid-container {
  width: calc(100vw - 40px);
  max-width: 1100px;
  padding: 0 20px;
  border: none;
  margin: 0;
  display: grid;
  grid-template-areas: "header" "intro" "map" "legend" ;
  grid-template-columns: 1fr;
  gap: 0;
  /*background: white;
* */
}
.grid-container .text {
  grid-area: legend;
  padding-top: 0;
}
.grid-container .cpsmap {
  grid-area: map;
  width: calc(100vw - 40px);
  height: fit-content;
}
header {
  height: 100px;
  padding: 6px 0 10px 0;
  grid-area: header;
}
header img {
  height: 70px;
}
.intro {
  padding: 0 10px 0 0;
  grid-area: intro;
}
p.button {
  text-align: center;
}
a.button {
  margin-top: 32px;
  display: inline-block;
  background: #ed1b2f;
  color: white;
  text-decoration: none;
  padding: 6px 12px;
  border-radius: 10px;
  border:2px solid #ed1b2f;
  font-size: 1.3em;
  font-weight: 600;
}
a.button:hover,
a.button:focus {
  background: white;
  color: #ed1b2f;
}
.skiplink {
  display: none;
}
.skiplink a {
  color: #db1425;
}
.skiplink a:focus,
.skiplink a:active,
.skiplink a:hover {
  color: #ab0415;
}

.cpsmap {
  width: 100%;
  margin:0;
  padding:0;
  position: relative;
  }
.cpsmap > div {
  aspect-ratio: 1 / 1.2;
}
.cpsmap svg {
  margin: 0;
  height: auto;
  max-height: 100%;
  max-width: 100%;
}
input.deptChoice {
  width: 100%;
  height: 10vw;
  font-size: 8vw;
  line-height: 1.0;
  margin: 10px 0;
}
.cpsmap #offices g {
}
.cpsmap #networks path {
  fill-opacity: 0.09;
}
.dataOutput {
  width: 100%;
  max-width: 460px;
  margin: 20px 0;
}
.dataOutput p {
  animation-duration: 0.4s;
  animation-name: slideIn;
  opacity: 1;
}
.dataOutput table {
  width: calc(100vw - 40px);
  max-width: 460px;
  font-size: 18px;
  border-collapse: collapse;
}
.dataOutput table tr.remove {
  border-bottom: 1px solid #dddddd;
}
.dataOutput table caption {
  width: 100%;
  max-width: 460px;
  height: 2.6em;
  border-bottom: 3px solid #333333;
  position: relative;
  animation-duration: 0.1s;
  animation-name: slideIn;
  opacity: 1;
}
.dataOutput table caption div {
  width: 100%;
  text-align: left;
  text-wrap: balance;
  font-size: 24px;
  line-height: 1.3;
  position: absolute;
  bottom: 0;
}
.dataOutput table tbody {
  width: 100%;
  animation-duration: 0.4s;
  animation-name: slideIn;
  opacity: 1;
}
.dataOutput table .thead td {
  padding-top: 1em;
  animation-duration: 0.25s;
  animation-name: slideIn;
  opacity: 1;
}
.dataOutput table .thead th[scope="col"]:first-child,
.dataOutput table .thead td:first-child {
  text-align: left;
}
.dataOutput table th,
.dataOutput table td {
  margin:0;
  padding-right: 10px;
  text-align: right;
  border: none;
}
.dataOutput table th {
  font-weight: 500;
}
.dataOutput table th[scope="col"] {
  border-bottom: 1px solid #333333;
}
.dataOutput table th[scope="row"] {
  text-align: left;
}
.dataOutput table tfoot th,
.dataOutput table tfoot td {
  border-top: 1px solid #333333;
  border-bottom: 3px solid #333333;
  font-weight: bold;
}
p.asterisk {
  display: list-item;
  margin-left: 1ch;
}
p.asterisk::marker {
  width: 1em;
  content:"*";
}
label[for="cb1-input"] {
  font-size: 1.2em;
  font-weight: 600;
}
.combobox-list {
  width: 100%;
  position: relative;
  z-index: 2;
}

.combobox .group {
  display: inline-flex;
  max-width: 400px;
  padding: 4px;
  margin-left: -4px;
  cursor: pointer;
}

.combobox input,
.combobox button.arrow {
  background-color: white;
  color: black;
  box-sizing: border-box;
  height: 30px;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  border: 1px solid gray;
  position: relative;
  cursor: pointer;
  z-index: 1;
}

.combobox input {
  width: calc(100vw - 80px);
  outline: none;
  font-size: 87.5%;
  padding: 1px 3px;
}

.combobox button.arrow {
  width: 19px;
  border-left: none;
  outline: none;
  color: rgb(0 90 156);
}

.combobox button.arrow[aria-expanded="true"] svg {
  transform: rotate(180deg) translate(0, -3px);
}

ul[role="listbox"] {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 20px;
  top: 34px;
  list-style: none;
  background-color: white;
  display: none;
  box-sizing: border-box;
  border: 2px currentcolor solid;
  max-height: 250px;
  width: 128px;
  overflow: scroll;
  overflow-x: hidden;
  font-size: 87.5%;
  cursor: pointer;
  width: calc(100% - 60px);
}

ul[role="listbox"] li[role="option"] {
  margin: 0;
  display: block;
  padding-left: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
}

/* focus and hover styling */

.combobox .group.focus,
.combobox .group:hover {
  padding: 2px;
  border: 2px solid currentcolor;
  border-radius: 4px;
}

.combobox .group.focus polygon,
.combobox .group:hover polygon {
  fill-opacity: 1;
}

.combobox .group.focus input,
.combobox .group.focus button.arrow,
.combobox .group input:hover,
.combobox .group button.arrow:hover {
  background-color: #def;
}

[role="listbox"].focus [role="option"][aria-selected="true"],
[role="listbox"] [role="option"]:hover {
  background-color: #def;
  padding-top: 0;
  padding-bottom: 0;
  border-top: 2px solid currentcolor;
  border-bottom: 2px solid currentcolor;
}
.combobox .group button.clear {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20px;
  border: 1px solid #777777;
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  padding: 3px 4px;
  z-index: 4;
  background-color: white;
  font-weight: 600;
  color: rgb(0 90 156);
  box-sizing: border-box;
  height: 30px;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  border: 1px solid gray;
  position: relative;
  cursor: pointer;
}
dialog {
  width: calc(100vw - 40px);
  max-width: 500px;
  position: relative;
}
dialog input[type="email"] {
  width: 100%;
}
.dialog-close {
  position: absolute;
  top: 10px;
  right: 10px;
  border: 1px solid #777777;
  border-radius: 50%;
  line-height: 0.8;
  font-size: 14px;
  padding: 3px 4px;
}
footer {
  margin: 60px auto 0;
  padding: 40px 0;
  width: 100vw;
  background: #403a3a;
}
footer div {
  width: calc(100vw - 40px);
  max-width: 600px;
  margin: 0 auto;
  color: white;
}
footer p {
  font-size: 0.8em;
}
footer a {
  color: #ed1b2f;
}
footer a:hover:visited,
footer a:focus:visited,
footer a:hover,
footer a:focus {
  color: #f82b4f;
}
footer a:visited {
  color: #cd0b1f;
}
@media screen and (min-width : 840px) {
  .grid-container {
    max-width: 1100px;
    column-gap: 40px;
    margin: 40px auto 0 auto;
    grid-template-columns: 5fr 2fr;
    grid-template-areas:
      "header header"
      "intro legend"
      "map legend";
  }
  .grid-container header img {
    height: 100%;
    max-height: 100px;
  }
  .grid-container header {
    height: 100px;
    padding: 0 20px 0 0;
  }
  .grid-container .text {
    padding-top: 20px;
    max-width: 460px;
  }
  .sticker {
    position: sticky;
    top: 0px;
  }
  .grid-container .cpsmap {
    margin:0;
    padding:0;
    width: 100%;
    position: relative;
  }
  .text h2 {
    margin-top: 20px;
  }
  .cpsmap svg {
    margin: 0;
    max-height: 100%;
    max-width: 100%;
    right: 0;
    top: 0;
    max-height: 700px;
    height: auto;
  }
  .dataOutput {
    display: block;
  }
  .dataOutput table {
    max-width: 360px;
    font-variant-numeric: lining-nums tabular-nums;
  }
  input.deptChoice {
    width: 300px;
    height: auto;
    font-size: 18px;
    line-height: 1.0;
  }
  .combobox input {
    width: 300px;
  }
  .choiceList,
  .choiceList li[role="option"] {
    font-size: 14px;
    height: 20px;
    width: 300px;
  }
}
    


#modal {
  width: calc(100vw - 40px);
  max-width: 500px;
  padding: 0;
}
#modal .modal-inner {
  position: relative;
  padding: 40px;
}
#modal .modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  border: 1px solid #777777;
  border-radius: 50%;
  line-height: 0.8;
  font-size: 14px;
  padding: 3px 4px;
}
#modal #stepper {
  padding: 0;
  margin: 0 auto 20px auto;
  display: flex;
  align-content: center;
  justify-content: center;
  width: calc(100% - 40px);
}
#modal #stepper span:nth-child(odd) {
  width: 20vw;
  height: 22px;
  max-width: 90px;
  padding: 3px 6px;
  border: 1px solid #777777;
  border-radius: 6px;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
}
#modal #stepper span:nth-child(even) {
  height: 11px;
  width: 11px;
  border-bottom: 1px solid #777777;
}
#modal #stepper span:last-child {
  padding-left: 2px;
  border: none;
  text-align: left;
}
#modal #stepper span.current {
  background: #aaccee;
  font-weight: 700;
}
@media screen and (min-width : 840px) {
  #modal .modal-inner {
    padding: 40px 20px;
  }
}

.quotebox {
  width: 100%;
  margin: 40px 0;
  height: fit-content;
  min-height: 534px;
  color: #ed1b2f;
  font-family: "Source Serif 4", "Source Serif", serif;
  position: relative;
  overflow-x: hidden;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.quotebox blockquote p {
  font-size: 22px;
  font-weight: 700;
  width: calc(100% - 30px);
  position: relative;
  margin-top:0;
  text-wrap: balance;
}
.quotebox blockquote p::before {
  content: "“";
  display: block;
  position: absolute;
  font-size: 130%;
  line-height: 1.2;
  left: -1ch;
}
.quotebox blockquote p:last-of-type::after {
  content: "”";
  font-size: 130%;
  line-height: 1;
}
.quotebox blockquote cite {
  display: inline-block;
  text-align: left;
  clear: both;
  text-indent: -1ch;
  font-style: italic;
  font-size: 18px;
  font-weight: 500;
  width: fit-content;
  margin-left: 4em;
}
.quotebox blockquote cite::before {
  content: "~";
}
.quotebox blockquote cite .nobreak {
  white-space: nowrap;
}
.quotebox blockquote {
  width: 100%;
  margin: 0;
  padding: 20px 10px 20px 20px;
  border: 6px solid #ed1b2f;
  border-left: none;
  border-right: none;
}
.quotebox blockquote.centered {
  animation-duration: 2s;
  animation-name: slideIn;
  z-index: 2;
}
.quotebox blockquote.offLeft {
  position: absolute;
  animation-duration: 1s;
  animation-name: slideOut;
  opacity: 0;
  max-height: 400px;
  z-index: 1;
}
.quotebox blockquote.offRight {
  position: absolute;
  opacity: 0;
  z-index: 1;
  max-height: 400px;
}
@keyframes slideOut {
 from {
  opacity: 1;
  }
  to {
  opacity: 0;
  }
}
@keyframes slideIn {
 from {
  opacity: 0;
  }
  to {
  opacity: 1;
  }
}

@media screen and (min-width: 840px) {
  .quotebox {
    min-height: 440px;
  }
  .quotebox blockquote {
    width: calc(100% - 0px);
    margin: 0px 0px 0px 0px;
  }
  .quotebox blockquote p {
    font-size: 28px;
  }
  .quotebox blockquote cite {
    font-size: 22px;
  }
  .grid-container .text {
    padding-top: 20px;
  }
  .skiplink {
    display: block;
  }
}

#63051,
#63081,
#63131,
#66072,
#66108,
#66109,
#66131,
#66133,
#66134,
#66137,
#66191,
#66241,
#66254,
#66255,
#66271,
#66351,
#66381,
#66391,
#66392,
#66393,
#66394,
#66395,
#66396,
#66397,
#66398,
#66399,
#66441,
#66442,
#66601,
#66602,
#66619,
#66629,
#66661,
#66921 {display: none;}
